h1{
    color:aqua;
}

/*
*{
    border:solid;
}*/

.header{
    background-color: rgba(216, 14, 98, 0.527);
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color:#9c6f6ff1
}